.header {
  min-height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 20px;

  h2 {
    margin-right: 20px;

    small {
      font-size: 0.7em;
      font-weight: 400;
    }
  }
}
